@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 8%;
}

.navbar ul {
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
  display: flex;
  list-style-type: none;
}

.navbar ul li {
  padding: 5px 10px;
  margin: 0 10px;
  /* color: #000; */
}

a.active {
  color: red;
}

.navbar button {
  background: #000;
  color: #fff;
  padding: 12px 25px;
  border: 0;
  outline: 0;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 80vh;
}

.container h1 {
  font-size: 70px;
  font-weight: 500;
}

.contact-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-bottom: 20px;
  gap: 20px;
}

.contact-buttons button {
  padding: 5px 12px;
  /* border: none; */
  border-radius: 10px;
}

.jobs {
  padding: 40px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.jobs a {
  flex: 1;
  text-decoration: none;
  padding: 10px;
  background: #efefef;
  color: #000;
}

.job-details {
  padding: 50px 0;
}

.job-details p {
  max-width: 800px;
  padding: 10px 0;
}

.job-details button {
  background: #000;
  color: #fff;
  outline: 0;
  padding: 5px 10px;
  border: 0;
  cursor: pointer;
}
